.button {
    -fx-font-size: 20px;
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-border: none;
}

.box1, .box2, .box3{
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-font-size: larger;
    -fx-font-weight: bold;
    -fx-padding: 10px;
    -fx-alignment: center;
}

.title{
    -fx-font-size: 28px;
    -fx-font-weight: bold;
}

.game-title{
    -fx-font-size: 28px;
    -fx-font-weight: bold;
}

.root {
    -fx-background-image: url("/assets/backgrounds/background1.jpg");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}