.button {
    -fx-font-size: 20px;
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-border: none;
}

.box1, .box2, .box3{
    -fx-border-color: black;
    -fx-border-width: 1px;
}

.game-over-title{
    -fx-font-size: 28px;
    -fx-font-weight: bold;
}

.game-title{
    -fx-font-size: 28px;
    -fx-font-weight: bold;
}